*{
    font-family: sans-serif;
}
h4{
    color:#13a4ed; 
    font-family: sans-serif;
}
.azul{
    float: right;
}

.tbl{
    margin-top: 2em;
}
.colortab{
    background-color: #1e448e;
    color: white;
}
#inicio{
    font-family: sans-serif;
    size: 97%;
    background-color:#d35533 !important; 
}    
#logo{
    float: right;
    margin-top: 0.5em;
    width: 15%;
    position: relative;
}
.navito{
    height: 9em;
    width: 100%;
}
.navito-img{
    height: auto;
    width: 10em;
}