*{
    font-family: sans-serif;
}
.tbl{
    margin-top: 2em;
}
.colortab{
    background-color: #1e448e;
    color: white;
}
.logo{
    float: right;
    margin-top: 5px;
    width: 15%;
    position: relative;
}
.navito{
    height: 90px;
}
.navito img{
    height: auto;
    width: 100px;
}