.cont{
    margin-top: 10em;
}
.btn-small{
    width: 100%;
    margin-top: 1em; 
    margin-bottom: 1em;   
    background-color: black;
       
}
.btn-small:hover{
    background-color:rgb(211, 211, 46);
}
.contRow{
    width: 40%;
}
.logo{
    width: 100%;
    height: auto;   
}
.responsive-img{
    margin-bottom: 5em;
}


