
.cont{
    margin-top: 7em;
    font-size: 100%;

}
.btn-large{
    width: 100%;
    margin-top: 1em; 
    margin-bottom: 1em;   
       
}
.btn-large:hover{   
    font-family: sans-serif;
    size: 97%;
    background-color:#d35533 !important; 
    
}

.btnNJ{
    background-color:#13a4ed;
}
.btnAzul{
 background-color:#13a4ed;  
  
}
.contRow{
    width: 65%;
}
.logo{
    width: 100%;
    height: auto;   
}
.responsive-img{
    margin-bottom: 1em;
   margin-left: 25%;

}


