*{ 
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
    font-size: 100%;
}

.row{
    margin-top: 5em;
}
.container{
    width: 85% !important;
}
.forml{
    width: 60%;
}

#guardar{
    margin-bottom: 2em;
    margin-top: 1em;
    margin-right: 1em;
}
.responsive-img{
    width: 5%;
    margin-top:0.3em;
}
::placeholder{
    font-size: 100% !important;
    color: black;
}
.bottonSend{
border: transparent;
font-family: sans-serif;
background-color: #d35533;;
padding: 0.4em;
color:white
}
.logo{
    float: right;
}